.DS_Store
node_modules
.worktrees
.sst
.env
.env.sst.local
.env.sst.*.local
.idea
.vscode
.codex
*~
playground
tmp
.tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.log
*.err.log
*.bun-build
tsconfig.tsbuildinfo
